@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

#navbar {

  font-size: 20px;
  line-height: 26px;
  box-shadow: 0 8px 6px -6px gray;
  --webkit-box-shadow: 0 8px 6px -6px gray;
  border-bottom: 0.5px;
  background-color: #5E17EB;
}

.pnf{
  display: flex;
  min-height: 65vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pnf-title{
  font-size: 100px;
  font-weight: 700;
}

.pnf-heading{
  font-weight: normal;
}

.pnf-btn{
  color: black;
  border: 1px solid black;
  text-decoration: none;
  padding: 10px;
  margin-top: 10px;
}

.register{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75vh;
  flex-direction: column;
  margin-top: 20px;
  background-color: #ffff;
  color: #5E17EB;
  padding-bottom: 30px;
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  flex-direction: column;
  color: #5E17EB;
}

.card-image img {
  width: 100%; 
  height: 200px; 
  object-fit: cover; 
}


.card-description {
  max-height: 80px; 
  overflow: hidden; 
  text-overflow: clip; 
}

.footer {

  font-size: 20px;
  line-height: 26px;
  box-shadow: 0 8px 6px -6px gray;
  --webkit-box-shadow: 0 8px 6px -6px gray;
  border-bottom: 0.5px;
  background-color: #5E17EB;
  padding: 40px;
  margin-top: 30px;
}

.label {
  height: 221px;
  width: 780px;
}

.label .text-wrapper {
  font-family: 'Oswald', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-size: 100px;
  font-weight: 900;
  letter-spacing: 0;
  line-height: 110.5px;
  text-align: justify;
  width: 780px;
  margin-top: 10px;
  margin-left: 20px;
  padding: 70px;
  color:#301934; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); 
}

.playstation-text {
  color: #5E17EB; 
}

.card-product {
  background-color: #32127A;
  font-size: 20px;
  padding: 50px;
}

.product-card {
  background-color: #32127A;
  padding: 10px;
  margin-top: 10px;
}

.carousel-item {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 30px;
  height: 75vh;
}

.contact-us {

  margin-top: 30px;
  margin-right: 60px;
  width: 120%; 
  height: 500px; 
 
}


